body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #blue;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;  text-shadow: 0 0 10px rgba(255, 105, 180, 1);  color: rgba(255, 105, 180, 0.5); 
  transform-style: preserve-3d;  
}
h2:hover {
  color: #999;
  transform: rotateY(180deg);
}
.container {
  max-width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  background-color: #coral;
  border: none;
}
