body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #blue;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;  text-shadow: 0 0 10px rgba(255, 105, 180, 1);  color: rgba(255, 105, 180, 0.5); 
  transform-style: preserve-3d;  
}
h2:hover {
  color: #999;
  transform: rotateY(180deg
}
.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: relative;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.prev-button,
.next-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #00698f;
    color: #fff;
    border: none;
    cursor: pointer;
}

.prev-button {
    margin-right: 10px;
}

.prev-button:hover,
.next-button:hover {
    background-color: #005377;
}
